Repository wso2/vscode-extensions, pull requests merged in 2025-07, with the labels that each got.

#56 Fix issues in the MI Extension
  workspaces/mi/mi-extension/package.json
  workspaces/mi/mi-extension/src/extension.ts
  workspaces/mi/mi-extension/src/project-explorer/project-explorer-provider.ts
  workspaces/mi/mi-extension/src/stateMachine.ts
  workspaces/mi/mi-extension/src/visualizer/activate.ts
  workspaces/mi/mi-visualizer/src/MainPanel.tsx
  workspaces/mi/mi-visualizer/src/PopupPanel.tsx
Labels: Extension/MI

#84 Move migrate project button to unsupported project page
  workspaces/mi/mi-extension/package.json
  workspaces/mi/mi-visualizer/src/constants/index.ts
  workspaces/mi/mi-visualizer/src/views/UnsupportedProject/index.tsx
Labels: Extension/MI

#82 Fix issues in the MI Extension
  workspaces/mi/mi-extension/src/debugger/activate.ts
  workspaces/mi/mi-extension/src/debugger/debugHelper.ts
  workspaces/mi/mi-extension/src/lang-client/activator.ts
  workspaces/mi/mi-extension/src/project-explorer/activate.ts
  workspaces/mi/mi-extension/src/rpc-managers/mi-diagram/rpc-manager.ts
  workspaces/mi/mi-extension/src/test-explorer/runner.ts
  workspaces/mi/mi-extension/src/util/onboardingUtils.ts
  workspaces/mi/mi-extension/src/util/templates.ts
  workspaces/mi/mi-extension/src/visualizer/activate.ts
Labels: Extension/MI

#100 Fix MI E2E tests
  workspaces/mi/mi-extension/src/rpc-managers/mi-visualizer/rpc-manager.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/artifactTests/artifact.spec.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/components/ArtifactTest/BallerinaModule.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/components/UnitTest.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/components/Welcome.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/multiWorkspaceTests/multiWorkspace.spec.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/projectTests/createProject.spec.ts
Labels: Checks/Run with UI Tests, Extension/MI

#139 Support opening migrated projects in a workspace if necessary.
  workspaces/mi/mi-extension/src/util/migrationUtils.ts
Labels: Extension/MI

#180 Fix connector test failure
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/components/Diagram.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/components/Welcome.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/connectorTests/connector.spec.ts
Labels: Checks/Run with UI Tests

#216 Handle `.project` file missing by checking corresponding `pom.xml` file in migration
  workspaces/mi/mi-extension/src/stateMachine.ts
  workspaces/mi/mi-extension/src/util/migrationUtils.ts
Labels: Extension/MI

#33 Add Data Mapper/ DB Report mediators UI tests
  .github/workflows/build.yml
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/components/DataMapper.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/components/Diagram.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/mediatorTests/dataMapper.spec.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/mediatorTests/dbReport.spec.ts
  workspaces/mi/mi-extension/src/test/e2e-playwright-tests/test.list.ts
Labels: Checks/Run with UI Tests
